# diff all

# This is configuration from the custom prototype drone built for Eric based on M0197

# version
# Betaflight / HEXAGONV66 (HEXAGON) 2026.6.0-rc3 Jul 28 2026 / 00:10:01 (norevision) MSP API: 1.48

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

mcu_id 000000000000000100000002
signature 

# feature
feature -GPS

# serial
serial UART7 128 1000000 57600 0 2470000

# aux
aux 0 0 0 1500 2100 0 0
aux 1 1 1 900 2100 0 0

# master
set acc_calibration = -2,-68,-4092,1
set blackbox_sample_rate = 1/1
set blackbox_device = SERIAL
set motor_pwm_inversion = ON
set motor_output_reordering = 2,3,1,0,4,5,6,7
set align_board_pitch = 180
set align_board_yaw = 90
set current_meter = ESC
set battery_meter = ESC

profile 0

profile 1

profile 2

profile 3

# restore original profile selection
profile 0

rateprofile 0

rateprofile 1

rateprofile 2

rateprofile 3

battery_profile 0

battery_profile 1

battery_profile 2

# restore original rateprofile selection
rateprofile 0

# restore original battery_profile selection
battery_profile 0

# save configuration
save
# 